body {
    font-family: 'Inter', sans-serif;
}
  
.title{
    color: aliceblue;
    font-size: 50px;
    font-family: 'Inter', sans-serif;
   
    
}

.smal{
    font-size: 24px;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
}

.big{
    font-size: 26px;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
}
.container{
    padding-top: 1%;
    padding-bottom: 3%;
    width: 100%;
    background: url('../img/img2.png');
    
    
    

}
.container1{
    width: 80%;

}